div.bluga-waiting {
    /* Throbber Source, in case you want to customize: http://ajaxload.info/ */
    background-image: url(images/throbber.gif);
    background-repeat: no-repeat;
    background-position: center center;
    border: 3px dashed #AAA;
    color: #AAA;
    text-align: center;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    width: 154px;
    height: 114px;
}

div.bluga-waiting.small {
    width: 74px;
    height: 54px;
}

div.bluga-waiting.medium {
    width: 154px;
    height: 114px;
}

div.bluga-waiting.medium2 {
    width: 314px;
    height: 234px;
}

div.bluga-waiting.large {
    width: 634px;
    height: 474px;
}

div.bluga-waiting.excerpt {
    width: 394px;
    height: 144px;
}

div.bluga-waiting p {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 1.2em;
}

div.bluga-waiting.small p {
    display: none;
}

div.bluga-waiting.medium p {
    bottom: 0;
}

div.bluga-waiting.medium2 p, 
div.bluga-waiting.large p {
    bottom: 3em;
}

div.bluga-waiting.excerpt p {
    bottom: 2em;
}
